<div>
	<div class="col-xs-12 text-center practice-selection">
		<div class="col-xs-12 text-center padding-15">
			<h4>Practice:</h4>
		</div>
		<div class="col-xs-12">
			<a href="#!/Practice/0/0/0">Practice Round</a>
		</div>
	</div>
	<div class="col-xs-12 trial-selection">
		<div class="col-xs-12 text-center padding-15">
			<h4>Trial:</h4>
		</div>
		<div class="col-xs-12 text-center">
			<label for="participant">Participant</label>
			<select name="participant" ng-model="participant">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
		<div class="col-xs-12 text-center">
			<label for="block">Block</label>
			<select name="block" ng-model="block">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>	
		</div>
		<div class="col-xs-12 text-center">
			<label for="trial">Trial</label>
			<select name="trial" ng-model="trial">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
			</select>	
		</div>
		<div class="col-xs-12 text-center padding-15">
			<button class="btn-md" ng-click="enterTrial()">Submit</button>
		</div>
	</div>
	<div class="col-xs-12 text-center padding-15">
		<button class="btn-lg" type="button" ng-click="exportToCsv()">Download CSV</button>
	</div>
</div>